<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1145/3654675">Explainable Authorship Identification in Cultural Heritage Applications</a>.
			</span><br />
			<span class="authors">
				Mattia Setzu, Silvia Corbara, Anna Monreale, Alejandro Moreo, and Fabrizio Sebastiani.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Journal on Computing and Cultural Heritage 17(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
