<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.48550/arXiv.2501.16836">Misspellings in Natural Language Processing: A survey</a>.
			</span><br />
			<span class="authors">
				Gianluca Sperduti and Alejandro Moreo.
			</span><br />
			<span class="venuetype"></span><span class="venue">ArXiv preprint</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/978-3-031-78980-9\_17">A Simple Method for Classifier Accuracy Prediction Under Prior Probability Shift</a>.
			</span><br />
			<span class="authors">
				Lorenzo Volpi, Alejandro Moreo, and Fabrizio Sebastiani.
			</span><br />
			<span class="venuetype"></span><span class="venue">Discovery Science - 27th International Conference, DS 2024, Pisa, Italy, October 14-16, 2024, Proceedings, Part II</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1145/3654675">Explainable Authorship Identification in Cultural Heritage Applications</a>.
			</span><br />
			<span class="authors">
				Mattia Setzu, Silvia Corbara, Anna Monreale, Alejandro Moreo, and Fabrizio Sebastiani.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Journal on Computing and Cultural Heritage 17(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1145/3544104">Generalized Funnelling: Ensemble Learning and Heterogeneous Document Embeddings for Cross-Lingual Text Classification</a>.
			</span><br />
			<span class="authors">
				Alejandro Moreo, Andrea Pedrotti, and Fabrizio Sebastiani.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Transactions on Information Systems 41(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
