<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.48550/arXiv.2505.21301">How Humans and LLMs Organize Conceptual Knowledge: Exploring Subordinate Categories in Italian</a>.
			</span><br />
			<span class="authors">
				Andrea Pedrotti, Giulia Rambelli, Caterina Villani, and Marianna Bolognesi.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 63rd Annual Meeting of the Association for Computational Linguistics (Volume 1: Long Papers), ACL 2025, Vienna, Austria, July 27-31, 2025</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.48550/arXiv.2505.24523">Stress-testing Machine Generated Text Detection: Shifting Language Models Writing Style to Fool Detectors</a>.
			</span><br />
			<span class="authors">
				Andrea Pedrotti, Michele Papucci, Cristiano Ciaccio, Alessio Miaschi, Giovanni Puccetti, Felice Dell'Orletta, and Andrea Esuli.
			</span><br />
			<span class="venuetype"></span><span class="venue">Findings of the Association for Computational Linguistics: ACL 2025</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/s00521-024-10721-1">Quantification using permutation-invariant networks based on histograms</a>.
			</span><br />
			<span class="authors">
				Olaya Perez Mon, Alejandro Moreo, Juan Jose Coz, and Pablo Gonzalez.
			</span><br />
			<span class="venuetype"></span><span class="venue">Neural Computing and Applications. 37(5)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://aclanthology.org/2025.findings-naacl.371/">Optimizing LLMs for Italian: Reducing Token Fertility and Enhancing Efficiency Through Vocabulary Adaptation</a>.
			</span><br />
			<span class="authors">
				Luca Moroni, Giovanni Puccetti, Pere-Lluis Huguet Cabot, Andrei Stefan Bejgu, Alessio Miaschi, Edoardo Barba, Felice Dell'Orletta, Andrea Esuli, and Roberto Navigli.
			</span><br />
			<span class="venuetype"></span><span class="venue">Findings of the Association for Computational Linguistics: NAACL 2025</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/s10994-024-06726-5">Kernel density estimation for multiclass quantification</a>.
			</span><br />
			<span class="authors">
				Alejandro Moreo, Pablo Gonzalez, and Juan Jose Coz.
			</span><br />
			<span class="venuetype"></span><span class="venue">Machine Learning. 114(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://ceur-ws.org/Vol-3937/short9.pdf">REVERINO: REgesta generation VERsus latIN summarizatiOn</a>.
			</span><br />
			<span class="authors">
				Giovanni Puccetti, Laura Righi, Ilaria Sabbatini, and Andrea Esuli.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 21st Conference on Information and Research science Connecting to Digital and Library science, Udine, Italy, February 20-21, 2025</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://ceur-ws.org/Vol-3937/short6.pdf">Automatic Annotation of Legal References (Allegationes) in the Liber Extra's Ordinary Gloss</a>.
			</span><br />
			<span class="authors">
				Andrea Esuli, Vincenzo Roberto Imperia, and Giovanni Puccetti.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 21st Conference on Information and Research science Connecting to Digital and Library science, Udine, Italy, February 20-21, 2025</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://aclanthology.org/2025.coling-main.453/">The Invalsi Benchmarks: measuring the Linguistic and Mathematical understanding of Large Language Models in Italian</a>.
			</span><br />
			<span class="authors">
				Giovanni Puccetti, Maria Cassese, and Andrea Esuli.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 31st International Conference on Computational Linguistics, COLING 2025, Abu Dhabi, UAE, January 19-24, 2025</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://ceur-ws.org/Vol-3878/129\_calamita\_long.pdf">INVALSI - Mathematical and Language Understanding in Italian: A CALAMITA Challenge</a>.
			</span><br />
			<span class="authors">
				Giovanni Puccetti, Maria Cassese, and Andrea Esuli.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Tenth Italian Conference on Computational Linguistics (CLiC-it 2024), Pisa, Italy, December 4-6, 2024</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://ceur-ws.org/Vol-3878/128\_calamita\_long.pdf">ABRICOT - ABstRactness and Inclusiveness in COntexT: A CALAMITA Challenge</a>.
			</span><br />
			<span class="authors">
				Giovanni Puccetti, Claudia Collacciani, Andrea Amelio Ravelli, Andrea Esuli, and Marianna Bolognesi.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Tenth Italian Conference on Computational Linguistics (CLiC-it 2024), Pisa, Italy, December 4-6, 2024</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://ceur-ws.org/Vol-3878/40\_main\_long.pdf">You Write like a GPT</a>.
			</span><br />
			<span class="authors">
				Andrea Esuli, Fabrizio Falchi, Marco Malvaldi, and Giovanni Puccetti.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Tenth Italian Conference on Computational Linguistics (CLiC-it 2024), Pisa, Italy, December 4-6, 2024</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://ceur-ws.org/Vol-3928/paper\_101.pdf">Multimodal Heterogeneous Transfer Learning for Multilingual Image-Text Classification</a>.
			</span><br />
			<span class="authors">
				Andrea Pedrotti, Alejandro Moreo, and Fabrizio Sebastiani.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Discovery Science Late Breaking Contributions 2024 (DS-LB 2024) co-located with 27th International Conference Discovery Science 2024 (DS 2024), Pisa, Italy, 14-16 October 2024</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1109/ACCESS.2024.3481161">Forging the Forger: An Attempt to Improve Authorship Verification via Data Augmentation</a>.
			</span><br />
			<span class="authors">
				Silvia Corbara and Alejandro Moreo.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Access</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/978-3-031-78980-9\_17">A Simple Method for Classifier Accuracy Prediction Under Prior Probability Shift</a>.
			</span><br />
			<span class="authors">
				Lorenzo Volpi, Alejandro Moreo, and Fabrizio Sebastiani.
			</span><br />
			<span class="venuetype"></span><span class="venue">Discovery Science - 27th International Conference, DS 2024, Pisa, Italy, October 14-16, 2024, Proceedings, Part II</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.18653/v1/2024.acl-long.218">M4GT-Bench: Evaluation Benchmark for Black-Box Machine-Generated Text Detection</a>.
			</span><br />
			<span class="authors">
				Yuxia Wang, Jonibek Mansurov, Petar Ivanov, Jinyan Su, Artem Shelmanov, Akim Tsvigun, Osama Mohammed Afzal, Tarek Mahmoud, Giovanni Puccetti, Thomas Arnold, Alham Fikri Aji, Nizar Habash, Iryna Gurevych, and Preslav Nakov.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 62nd Annual Meeting of the Association for Computational Linguistics (Volume 1: Long Papers), ACL 2024, Bangkok, Thailand, August 11-16, 2024</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.18653/v1/2024.acl-long.817">AI 'News' Content Farms Are Easy to Make and Hard to Detect: A Case Study in Italian</a>.
			</span><br />
			<span class="authors">
				Giovanni Puccetti, Anna Rogers, Chiara Alzetta, Felice Dell'Orletta, and Andrea Esuli.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 62nd Annual Meeting of the Association for Computational Linguistics (Volume 1: Long Papers), ACL 2024, Bangkok, Thailand, August 11-16, 2024</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/s10618-024-01067-2">Regularization-based methods for ordinal quantification</a>.
			</span><br />
			<span class="authors">
				Mirko Bunse, Alejandro Moreo, Fabrizio Sebastiani, and Martin Senz.
			</span><br />
			<span class="venuetype"></span><span class="venue">Data Min. Knowl. Discov. 38(6)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1145/3606264">Multi-Label Quantification</a>.
			</span><br />
			<span class="authors">
				Alejandro Moreo, Manuel Francisco, and Fabrizio Sebastiani.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Transactions on Knowledge Discovery from Data. 18(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1145/3609226">Same or Different? Diff-Vectors for Authorship Analysis</a>.
			</span><br />
			<span class="authors">
				Silvia Corbara, Alejandro Moreo, and Fabrizio Sebastiani.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Trans. Knowl. Discov. Data 18(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.18653/v1/2024.semeval-1.279">SemEval-2024 Task 8: Multidomain, Multimodel and Multilingual Machine-Generated Text Detection</a>.
			</span><br />
			<span class="authors">
				Yuxia Wang, Jonibek Mansurov, Petar Ivanov, Jinyan Su, Artem Shelmanov, Akim Tsvigun, Osama Mohammed Afzal, Tarek Mahmoud, Giovanni Puccetti, and Thomas Arnold.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 18th International Workshop on Semantic Evaluation, SemEval@NAACL 2024, Mexico City, Mexico, June 20-21, 2024</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://openreview.net/forum?id=liuqDwmbQJ">ViLMA: A Zero-Shot Benchmark for Linguistic and Temporal Grounding in Video-Language Models</a>.
			</span><br />
			<span class="authors">
				Ilker Kesen, Andrea Pedrotti, Mustafa Dogan, Michele Cafagna, Emre Can Acikgoz, Letitia Parcalabescu, Iacer Calixto, Anette Frank, Albert Gatt, Aykut Erdem, and Erkut Erdem.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Twelfth International Conference on Learning Representations, ICLR 2024, Vienna, Austria, May 7-11, 2024</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/s10618-024-01014-1">Binary quantification and dataset shift: an experimental investigation</a>.
			</span><br />
			<span class="authors">
				Pablo Gonzalez, Alejandro Moreo, and Fabrizio Sebastiani.
			</span><br />
			<span class="venuetype"></span><span class="venue">Data Min. Knowl. Discov. 38(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://api.semanticscholar.org/CorpusID:274238661">A Noise-Oriented and Redundancy-Aware Instance Selection Framework</a>.
			</span><br />
			<span class="authors">
				Washington Cunha, Alejandro Moreo, Andrea Esuli, Fabrizio Sebastiani, Leonardo Rocha, and Marcos Andre Gonçalves.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Transactions on Information Systems</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1145/3654675">Explainable Authorship Identification in Cultural Heritage Applications</a>.
			</span><br />
			<span class="authors">
				Mattia Setzu, Silvia Corbara, Anna Monreale, Alejandro Moreo, and Fabrizio Sebastiani.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Journal on Computing and Cultural Heritage 17(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1145/3544104">Generalized Funnelling: Ensemble Learning and Heterogeneous Document Embeddings for Cross-Lingual Text Classification</a>.
			</span><br />
			<span class="authors">
				Alejandro Moreo, Andrea Pedrotti, and Fabrizio Sebastiani.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Trans. Inf. Syst. 41(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/978-3-031-20467-8">Learning to Quantify</a>.
			</span><br />
			<span class="authors">
				Andrea Esuli, Alessandro Fabris, Alejandro Moreo, and Fabrizio Sebastiani.
			</span><br />
			<span class="venuetype"></span><span class="venue">Unknown venue (type=book)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
