<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/s10994-024-06726-5">Kernel density estimation for multiclass quantification</a>.
			</span><br />
			<span class="authors">
				Alejandro Moreo, Pablo Gonzalez, and Juan Jose Coz.
			</span><br />
			<span class="venuetype"></span><span class="venue">Machine Learning. 114(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1145/3606264">Multi-Label Quantification</a>.
			</span><br />
			<span class="authors">
				Alejandro Moreo, Manuel Francisco, and Fabrizio Sebastiani.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Transactions on Knowledge Discovery from Data. 18(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://api.semanticscholar.org/CorpusID:274238661">A Noise-Oriented and Redundancy-Aware Instance Selection Framework</a>.
			</span><br />
			<span class="authors">
				Washington Cunha, Alejandro Moreo, Andrea Esuli, Fabrizio Sebastiani, Leonardo Rocha, and Marcos Andre Gonçalves.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Transactions on Information Systems</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
