<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://api.semanticscholar.org/CorpusID:274238661">A Noise-Oriented and Redundancy-Aware Instance Selection Framework</a>.
			</span><br />
			<span class="authors">
				Washington Cunha, Alejandro Moreo, Andrea Esuli, Fabrizio Sebastiani, Leonardo Rocha, and Marcos Andre Gonçalves.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Transactions on Information Systems</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
