<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://iris.cnr.it/bitstream/20.500.14243/595362.2/2/QCDS2026a.pdf">Uncertainty-Aware Classifier Accuracy Prediction under Prior Probability Shift</a>.
			</span><br />
			<span class="authors">
				Lorenzo Volpi, Alejandro Moreo, and Fabrizio Sebastiani.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 1st International Workshop on Quantification and Classification under Dataset Shift, QCDS 2026, Napoli, Italy, September 7, 2026</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://www.sciencedirect.com/science/article/pii/S0957417426029088">Benchmarking accuracy and bias on encyclopedic knowledge in (vision-)language models</a>.
			</span><br />
			<span class="authors">
				Maria Cassese, Giovanni Puccetti, and Andrea Esuli.
			</span><br />
			<span class="venuetype"></span><span class="venue">Expert Systems with Applications</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.18653/v1/2026.acl-long.639">Is Human-Like Text Liked by Humans? Multilingual Human Detection and Preference Against AI</a>.
			</span><br />
			<span class="authors">
				Yuxia Wang, Rui Xing, Jonibek Mansurov, Giovanni Puccetti, Zhuohan Xie, Minh Ngoc Ta, Jiahui Geng, Jinyan Su, Mervat Abassy, Saadeldine Eletter, Kareem Ashraf Elozeiri, Nurkhan Laiyk, Maiya Goloburda, Tarek Mahmoud, Raj Vardhan Tomar, Alexander Aziz, Ryuto Koike, Masahiro Kaneko, Artem Shelmanov, Ekaterina Artemova, Vladislav Mikhailov, Akim Tsvigun, Alham Fikri Aji, Nizar Habash, Iryna Gurevych, and Preslav Nakov.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 64th Annual Meeting of the Association for Computational Linguistics (Volume 1: Long Papers), ACL 2026, San Diego, California, United States, July 2-7, 2026</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.63317/3ipryhrqmwvi">Gretino: A Greek and Latin Dataset to Benchmark Retrieval Systems in Classical Languages</a>.
			</span><br />
			<span class="authors">
				Hawau Olamide Toyin, Federico Iezzi, Elia Scapini, Giulio Federico, and Giovanni Puccetti.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 15th Language Resources and Evaluation Conference, LREC 2026, Palma de Mallorca, Spain, May 13-15, 2026</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/s10994-026-07029-7">GSM-Identity: Evaluating Mathematical Reasoning in LLMs via Equivalence Transformations</a>.
			</span><br />
			<span class="authors">
				Kajal Negi, Giovanni Puccetti, and Andrea Esuli.
			</span><br />
			<span class="venuetype"></span><span class="venue">Mach. Learn. 115(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://www.cambridge.org/core/journals/natural-language-processing/article/misspellings-in-natural-language-processing-a-survey-of-recent-literature/54D610B7FE645EA44E1E5D2D3FDC9535">Misspellings in natural language processing: A survey of recent literature</a>.
			</span><br />
			<span class="authors">
				Gianluca Sperduti and Alejandro Moreo.
			</span><br />
			<span class="venuetype"></span><span class="venue">Natural Language Processing 32(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://ceur-ws.org/Vol-4195/59.pdf">DeSegMa-IT at EVALITA 2026: Overview of the Detection and Segmentation of Machine Generated Texts in Italian</a>.
			</span><br />
			<span class="authors">
				Giovanni Puccetti, Andrea Pedrotti, and Andrea Esuli.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 9th Evaluation Campaign of Natural Language Processing and Speech Tools for Italian. Final Workshop (EVALITA 2026)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://aclanthology.org/2025.emnlp-main.373/">PSET: a Phonetics-Semantics Evaluation Testbed</a>.
			</span><br />
			<span class="authors">
				Gianluca Sperduti and Dong Nguyen.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 2025 Conference on Empirical Methods in Natural Language Processing, EMNLP, Suzhou, China, November 4-9, 2025</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.48550/arXiv.2505.21301">How Humans and LLMs Organize Conceptual Knowledge: Exploring Subordinate Categories in Italian</a>.
			</span><br />
			<span class="authors">
				Andrea Pedrotti, Giulia Rambelli, Caterina Villani, and Marianna Bolognesi.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 63rd Annual Meeting of the Association for Computational Linguistics (Volume 1: Long Papers), ACL 2025, Vienna, Austria, July 27-31, 2025</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.48550/arXiv.2505.24523">Stress-testing Machine Generated Text Detection: Shifting Language Models Writing Style to Fool Detectors</a>.
			</span><br />
			<span class="authors">
				Andrea Pedrotti, Michele Papucci, Cristiano Ciaccio, Alessio Miaschi, Giovanni Puccetti, Felice Dell'Orletta, and Andrea Esuli.
			</span><br />
			<span class="venuetype"></span><span class="venue">Findings of the Association for Computational Linguistics: ACL 2025</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://aclanthology.org/2025.bsnlp-1.12/">DIACU: A dataset for the DIAchronic analysis of Church Slavonic</a>.
			</span><br />
			<span class="authors">
				Maria Cassese, Giovanni Puccetti, Marianna Napolitano, and Andrea Esuli.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 10th Workshop on Slavic Natural Language Processing (Slavic NLP 2025)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/s00521-024-10721-1">Quantification using permutation-invariant networks based on histograms</a>.
			</span><br />
			<span class="authors">
				Olaya Perez Mon, Alejandro Moreo, Juan Jose Coz, and Pablo Gonzalez.
			</span><br />
			<span class="venuetype"></span><span class="venue">Neural Computing and Applications. 37(5)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://aclanthology.org/2025.findings-naacl.371/">Optimizing LLMs for Italian: Reducing Token Fertility and Enhancing Efficiency Through Vocabulary Adaptation</a>.
			</span><br />
			<span class="authors">
				Luca Moroni, Giovanni Puccetti, Pere-Lluis Huguet Cabot, Andrei Stefan Bejgu, Alessio Miaschi, Edoardo Barba, Felice Dell'Orletta, Andrea Esuli, and Roberto Navigli.
			</span><br />
			<span class="venuetype"></span><span class="venue">Findings of the Association for Computational Linguistics: NAACL 2025</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/s10994-024-06726-5">Kernel density estimation for multiclass quantification</a>.
			</span><br />
			<span class="authors">
				Alejandro Moreo, Pablo Gonzalez, and Juan Jose Coz.
			</span><br />
			<span class="venuetype"></span><span class="venue">Machine Learning. 114(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://ceur-ws.org/Vol-3937/short9.pdf">REVERINO: REgesta generation VERsus latIN summarizatiOn</a>.
			</span><br />
			<span class="authors">
				Giovanni Puccetti, Laura Righi, Ilaria Sabbatini, and Andrea Esuli.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 21st Conference on Information and Research science Connecting to Digital and Library science, Udine, Italy, February 20-21, 2025</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://ceur-ws.org/Vol-3937/short6.pdf">Automatic Annotation of Legal References (Allegationes) in the Liber Extra's Ordinary Gloss</a>.
			</span><br />
			<span class="authors">
				Andrea Esuli, Vincenzo Roberto Imperia, and Giovanni Puccetti.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 21st Conference on Information and Research science Connecting to Digital and Library science, Udine, Italy, February 20-21, 2025</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://aclanthology.org/2025.coling-main.453/">The Invalsi Benchmarks: measuring the Linguistic and Mathematical understanding of Large Language Models in Italian</a>.
			</span><br />
			<span class="authors">
				Giovanni Puccetti, Maria Cassese, and Andrea Esuli.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 31st International Conference on Computational Linguistics, COLING 2025, Abu Dhabi, UAE, January 19-24, 2025</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
