<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/s00521-024-10721-1">Quantification using permutation-invariant networks based on histograms</a>.
			</span><br />
			<span class="authors">
				Olaya Perez Mon, Alejandro Moreo, Juan Jose Coz, and Pablo Gonzalez.
			</span><br />
			<span class="venuetype"></span><span class="venue">Neural Comput. Appl. 37(5)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/s10994-024-06726-5">Kernel density estimation for multiclass quantification</a>.
			</span><br />
			<span class="authors">
				Alejandro Moreo, Pablo Gonzalez, and Juan Jose Coz.
			</span><br />
			<span class="venuetype"></span><span class="venue">Mach. Learn. 114(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://ceur-ws.org/Vol-3937/short9.pdf">REVERINO: REgesta generation VERsus latIN summarizatiOn</a>.
			</span><br />
			<span class="authors">
				Giovanni Puccetti, Laura Righi, Ilaria Sabbatini, and Andrea Esuli.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 21st Conference on Information and Research science Connecting to Digital and Library science, Udine, Italy, February 20-21, 2025</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://ceur-ws.org/Vol-3937/short6.pdf">Automatic Annotation of Legal References (Allegationes) in the Liber Extra's Ordinary Gloss</a>.
			</span><br />
			<span class="authors">
				Andrea Esuli, Vincenzo Roberto Imperia, and Giovanni Puccetti.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 21st Conference on Information and Research science Connecting to Digital and Library science, Udine, Italy, February 20-21, 2025</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://aclanthology.org/2025.coling-main.453/">The Invalsi Benchmarks: measuring the Linguistic and Mathematical understanding of Large Language Models in Italian</a>.
			</span><br />
			<span class="authors">
				Giovanni Puccetti, Maria Cassese, and Andrea Esuli.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 31st International Conference on Computational Linguistics, COLING 2025, Abu Dhabi, UAE, January 19-24, 2025</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
