<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.18653/v1/2024.acl-long.817">AI 'News' Content Farms Are Easy to Make and Hard to Detect: A Case Study in Italian</a>.
			</span><br />
			<span class="authors">
				Giovanni Puccetti, Anna Rogers, Chiara Alzetta, Felice Dell'Orletta, and Andrea Esuli.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 62nd Annual Meeting of the Association for Computational Linguistics (Volume 1: Long Papers), ACL 2024, Bangkok, Thailand, August 11-16, 2024</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://openreview.net/forum?id=liuqDwmbQJ">ViLMA: A Zero-Shot Benchmark for Linguistic and Temporal Grounding in Video-Language Models</a>.
			</span><br />
			<span class="authors">
				Ilker Kesen, Andrea Pedrotti, Mustafa Dogan, Michele Cafagna, Emre Can Acikgoz, Letitia Parcalabescu, Iacer Calixto, Anette Frank, Albert Gatt, Aykut Erdem, and Erkut Erdem.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Twelfth International Conference on Learning Representations, ICLR 2024, Vienna, Austria, May 7-11, 2024</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://api.semanticscholar.org/CorpusID:274238661">A Noise-Oriented and Redundancy-Aware Instance Selection Framework</a>.
			</span><br />
			<span class="authors">
				Washington Cunha, Alejandro Moreo, Andrea Esuli, Fabrizio Sebastiani, Leonardo Rocha, and Marcos Andre Gonçalves.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Transactions on Information Systems</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1145/3654675">Explainable Authorship Identification in Cultural Heritage Applications</a>.
			</span><br />
			<span class="authors">
				Mattia Setzu, Silvia Corbara, Anna Monreale, Alejandro Moreo, and Fabrizio Sebastiani.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Journal on Computing and Cultural Heritage 17(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
